@model List<Genre>
<ul class="list-group">
    <li class="list-group-item">
        <a href="/movies/list/">Tüm Filmler</a>
    </li>

    @foreach (var genre in Model)
    {
       
            <li class="list-group-item">
                <a href="/movies/list/@genre.GenreId">
                        @genre.Name
                </a>
            </li>
      
    }
</ul>