
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Vizyondaki Film</h1>
        <p class="col-md-8 fs-4">Aşağıda tek bir film gösterimektedir</p>
        <a href="/movies/list" class="btn btn-primary btn-lg" type="button">Diğer Filmler</a>
    </div>
</div>