@model MovieApp.Web.Models.Movie

<div class="card mb-3">
    
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <img src="/img/@Model.ImageUrl" class="img-thumbnail" style="width:100%;max-height:200px;object-fit:cover" alt="Kapak Resmi">

            </div>
            <div class="col">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text"><strong>Yönetmen:</strong> @Model.Director</p>
                <p class="card-text">
                    <strong>Oyuncular;</strong>

                    @foreach (var player in Model.Players)
                    {
                        <i>@player</i>
                    }
                </p>
                <a href="#" class="btn btn-primary">Detayları Göster</a>
            </div>
        </div>
    </div>
</div>