@model MoviesViewModel


@section scripts{
    <script>
        console.log("bu script sadece bu sayfada çalışacaktır.")
    </script>
}

@section styles{
    <style>
      

    </style>
}

@section section_sidebar {
    @*@await Html.PartialAsync("_sidebar", Model.Genres)*@

    @await Component.InvokeAsync("Genres", Model.Genre)
}



@if(Model.Movies.Count() == 0)
{
    <div class="alert alert-warning">Bu Kategoride Film Bulunamadı!</div>
}else if (Model.Genre != null)
{
    <div class="alert alert-info">@Model.Genre.Name kategorisine ait @Model.Movies.Count() adet film bulundu.</div>
}

<div class="row my-3">
    <div class="col d-flex justify-content-end align-items-center">
        <a asp-action="Create" asp-controller="Movies" class="btn btn-warning">Yeni Film Ekle</a>
    </div>    
</div>


@foreach (var movie in Model.Movies)
{
    @await Html.PartialAsync("_movieItem", movie)
}