@model List<Movie>
@{
    Layout = "_Layout2";
}
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
</div>
     <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>Kapak</th>
                    <th>Film Adı</th>
                    <th>Açıklama</th>
                    <th>Yönetmen</th>
                    <th>Oyuncular</th>
                    <th>Detaylar</th>
                </tr>
            </thead>
            <tbody>
        @foreach (var movie in Model)
        {
                    <tr>
                        <td style="max-width:200px"><img style="width:100%" src="/img/@movie.ImageUrl" /></td>
                        <td>@movie.Title</td>
                        <td>@movie.Description</td>
                        <td>@movie.Director</td>
                        <td>
                            <ul>
                        @foreach (var player in movie.Players)
                        {
                                        <li>@player</li>
                        }
                            </ul>
                        </td>
                        <td><button class="btn btn-primary" type="button">Detaylar</button></td>
                    </tr>
        }
            </tbody>
        </table>
